@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }

  body {
    @apply bg-dark-900 text-brand-text antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0b0e11;
}

::-webkit-scrollbar-thumb {
  background: #1e2329;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b3139;
}
